*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: burlywood;
    width: 100vw;
    height: 100vh;
    list-style: square;
}

#banner{
    height: 30px;
    position:fixed;
    width: 100%;
    text-align: center;
    background-color: sienna;
}

#logo{
    position: absolute;
    left: 0px;
    width: 30px;
    height: 30px;
}

#nav{
    width: 100%;
    position: fixed;
    top: 30px;    
    display: flex;
    flex-direction: row;
}

.guznav{
    position: relative;
    background-color:darkgoldenrod;
    border: none;
    height: 15px;
    width: 100%;
    transition-duration: 0.4s;
}

.guznav:hover{
    background-color: goldenrod;
}

#widok{
    position: relative;
    top: 65px;
    width: 100%;
    height: calc(100% - 65px);
    overflow: hidden;
}

iframe{
    width: 100%;
    height: 100%;

    list-style: square;
}

#stopka{
    background-color: sienna;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

table{
    border: solid green 10px;
}

#pasekwidok{
    background-color: chocolate;
    position: fixed;
    top: 45px;
    width: 100%;
    height: 20px;   
    overflow-x: hidden;
}

#pasek{
    white-space: nowrap;
    overflow-x: hidden;
    position: absolute;
}

@media screen and (max-width: 600px) {
    #nav{
        flex-direction: column;
        }
}

